@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-image: url('/assets/background.jpg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #505050;
    --foreground: #f1f1f1;
    --background-image: url('/assets/background.jpg');
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: var(--background-image);
  background-size: cover; /* This will make the image cover the entire background */
  background-position: center; /* This will center the image */
  background-repeat: no-repeat
}
